@import url(.style/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

// page colors
$bgColor: #f3f3f3;
$white: #fff;
$mainColor: #005e6d;
$rowsColor: #e4f0f1;
$darkGrey: #494949;
$mediumGrey: #a2a1a1;
$lightGrey: #cfcbce;
$extraLightGrey: #dcdcdc;
$active: #00424d;

// indents
$logoRight: 10px;
$padSmall: 15px;
$middleIndent: 20px;
$bigIndent: 30px;

// font-weight
$regular: 400;
$bold: 700;

// font-size
$smallest: 14px;
$small: 18px;
$medium: 24px;
$notVeryBig: 25px;
$big: 33px;

// mixins
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: $bgColor;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 890px;
  margin: 0 auto;
  padding: 0 $padSmall;
}

.header {
  @include flex;
  background-color: $mainColor;
  height: 100px;

  @media (max-width: 700px) {
    height: 220px;
  }

  &__content {
    color: $white;
    @include flex;

    @media (max-width: 500px) {
      text-align: left;
    }

    @media (max-width: 700px) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      padding: $padSmall;
    }

    @media (max-width: 890px) {
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__logo {
    padding-right: $logoRight;
    @media (max-width: 500px) {
      padding-right: 0;
      padding-bottom: 20px;
    }
    @media (max-width: 700px) {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  &__title {
    font-size: $big;
    text-align: center;
    text-shadow: 0.5px 0.866px 5px rgba(0, 0, 0, 0.294);

    @media (min-width: 350px) and (max-width: 500px) {
      font-size: $medium;
    }

    @media (min-width: 501px) and (max-width: 890px) {
      font-size: $notVeryBig;
    }
  }
}

.date {
  justify-content: flex-end;
  padding: $padSmall 0;

  &__content {
    @include flex;
    justify-content: flex-end;
    padding-right: $padSmall;

    @media (min-width: 890px) {
      padding-right: 0;
    }

    @media (min-width: 350px) and (max-width: 550px) {
      justify-content: center;
      padding-right: 0;
    }
  }

  &__label {
    font-size: $small;
    color: $mainColor;
    padding-right: 20px;
  }

  &__calendar {
    font-size: $smallest;
    color: $mainColor;
    border: solid 1px $mainColor;
    border-color: $mainColor;
    border-radius: 3px;
    outline: none;
  }
}

.currencies {
  padding-top: $padSmall;
  padding-bottom: $padSmall;
  @media (min-width: 350px) and (max-width: 500px) {
    margin-top: bottom;
    padding-bottom: 0;
  }
  &__content {
    @include flex;
    flex-direction: column;
  }
  &__title {
    padding-bottom: $padSmall;
    text-transform: uppercase;
    color: $mainColor;
    font-size: $medium;
  }
}

.table {
  width: 100%;
  background: url(../img/white-waves.png);
  padding: 20px;
  @media (min-width: 350px) and (max-width: 500px) {
    padding-bottom: 0;
  }
  &-head {
    @include flex;
    flex-wrap: wrap;
    color: $mainColor;
    font-size: $small;
    padding-bottom: 15px;
  }
  &-row {
    @include flex;
    flex-wrap: wrap;
    padding: 15px 0;
    font-size: $small;
    color: $darkGrey;
    @media (min-width: 350px) and (max-width: 500px) {
      flex-direction: column;
      font-size: $medium;
    }
    @media (min-width: 501px) and (max-width: 580px) {
      flex-wrap: nowrap;
    }

    &:nth-child(2n) {
      background-color: $rowsColor;
    }
  }
  &-item {
    width: 100px;
    text-align: center;
    line-height: 20px;
    @media (min-width: 0px) and (max-width: 573px) {
      width: 100px;
    }
    @media (min-width: 350px) and (max-width: 500px) {
      width: 100%;
      flex-direction: column;
      font-size: $medium;
      margin: 8px 0;
      line-height: 26px;
    }
    &--hide {
      @media (min-width: 0px) and (max-width: 700px) {
        display: none;
      }
    }
    &--hide-metals {
      @media (min-width: 0px) and (max-width: 770px) {
        display: none;
      }
    }
    &__input {
      width: 70%;
      align-items: center;
      border: solid 1px $lightGrey;
      border-radius: 3px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: $small;
      color: $darkGrey;
      padding-left: 5px;
      @media (min-width: 350px) and (max-width: 500px) {
        text-align: center;
        padding-left: 0;
      }
      @media (min-width: 0px) and (max-width: 573px) {
        width: 80px;
      }
    }
    &--bold {
      font-weight: $bold;
    }
    &--blue {
      color: $mainColor;
    }
  }
}

.button {
  margin-top: $bigIndent;
  margin-bottom: $padSmall;
  padding: 8px 22px;

  border: solid 3px $extraLightGrey;
  border-radius: 18px;
  background-color: $mainColor;

  color: $white;
  text-transform: uppercase;
  font-size: $small;

  transition: background-color 0.4s;

  &:hover {
    background-color: $active;
    cursor: pointer;
  }

  &:active {
    background-color: $darkGrey;
  }

  &__content {
    @include flex;
    justify-content: center;
  }
}

.footer {
  @include flex;
  height: 50px;
  background-color: $mainColor;
  color: $white;
  font-size: $smallest;
  margin-top: $middleIndent;
  @media (min-width: 350px) and (max-width: 500px) {
    margin-top: 0;
  }
}
